USE [master]
GO
/****** Object:  Database [ManyToMany]    Script Date: 10/05/2014 18:12:15 ******/
CREATE DATABASE [ManyToMany] ON  PRIMARY 
( NAME = N'ManyToMany', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS2008R2\MSSQL\DATA\ManyToMany.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ManyToMany_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS2008R2\MSSQL\DATA\ManyToMany_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManyToMany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManyToMany]
GO
/****** Object:  Table [dbo].[JobTag]    Script Date: 10/05/2014 18:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tag] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_JobTag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JobTag] ON
INSERT [dbo].[JobTag] ([Id], [Tag]) VALUES (1, N'C#')
INSERT [dbo].[JobTag] ([Id], [Tag]) VALUES (2, N'Java')
INSERT [dbo].[JobTag] ([Id], [Tag]) VALUES (3, N'Web Development')
SET IDENTITY_INSERT [dbo].[JobTag] OFF
/****** Object:  Table [dbo].[Employer]    Script Date: 10/05/2014 18:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employer] ON
INSERT [dbo].[Employer] ([Id], [FullName]) VALUES (1, N'At Acme Ltd')
INSERT [dbo].[Employer] ([Id], [FullName]) VALUES (2, N'Programmer Inc')
SET IDENTITY_INSERT [dbo].[Employer] OFF
/****** Object:  Table [dbo].[JobPost]    Script Date: 10/05/2014 18:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[EmployerID] [int] NOT NULL,
 CONSTRAINT [PK_JobPost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[JobPost] ON
INSERT [dbo].[JobPost] ([Id], [Title], [EmployerID]) VALUES (1, N'post01', 2)
INSERT [dbo].[JobPost] ([Id], [Title], [EmployerID]) VALUES (2, N'post 02', 2)
SET IDENTITY_INSERT [dbo].[JobPost] OFF
/****** Object:  Table [dbo].[JobPost_JobTag]    Script Date: 10/05/2014 18:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPost_JobTag](
	[JobPostID] [int] NOT NULL,
	[JobTagID] [int] NOT NULL,
 CONSTRAINT [PK_JobPost_JobTag] PRIMARY KEY CLUSTERED 
(
	[JobPostID] ASC,
	[JobTagID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_JobPost_JobTag] ON [dbo].[JobPost_JobTag] 
(
	[JobPostID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_JobPost_JobTag_1] ON [dbo].[JobPost_JobTag] 
(
	[JobPostID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[JobPost_JobTag] ([JobPostID], [JobTagID]) VALUES (1, 1)
INSERT [dbo].[JobPost_JobTag] ([JobPostID], [JobTagID]) VALUES (1, 3)
INSERT [dbo].[JobPost_JobTag] ([JobPostID], [JobTagID]) VALUES (2, 2)
/****** Object:  ForeignKey [FK_JobPost_Employer]    Script Date: 10/05/2014 18:12:15 ******/
ALTER TABLE [dbo].[JobPost]  WITH CHECK ADD  CONSTRAINT [FK_JobPost_Employer] FOREIGN KEY([EmployerID])
REFERENCES [dbo].[Employer] ([Id])
GO
ALTER TABLE [dbo].[JobPost] CHECK CONSTRAINT [FK_JobPost_Employer]
GO
/****** Object:  ForeignKey [FK_JobPost_JobTag_JobPost]    Script Date: 10/05/2014 18:12:15 ******/
ALTER TABLE [dbo].[JobPost_JobTag]  WITH CHECK ADD  CONSTRAINT [FK_JobPost_JobTag_JobPost] FOREIGN KEY([JobPostID])
REFERENCES [dbo].[JobPost] ([Id])
GO
ALTER TABLE [dbo].[JobPost_JobTag] CHECK CONSTRAINT [FK_JobPost_JobTag_JobPost]
GO
/****** Object:  ForeignKey [FK_JobPost_JobTag_JobTag]    Script Date: 10/05/2014 18:12:15 ******/
ALTER TABLE [dbo].[JobPost_JobTag]  WITH CHECK ADD  CONSTRAINT [FK_JobPost_JobTag_JobTag] FOREIGN KEY([JobTagID])
REFERENCES [dbo].[JobTag] ([Id])
GO
ALTER TABLE [dbo].[JobPost_JobTag] CHECK CONSTRAINT [FK_JobPost_JobTag_JobTag]
GO
